<div class="container">
		<div class="jumbotron center">
	<h1>Our Mission</h1>
	<p>
	Our Mission is to leave the world a little bit better than found by striving and inspiring others to greatness.
	</p>

	<p>
	To begin your journey, please <%= link_to "Click Here", "http://youtu.be/NVPxmz_PvUw", target: "_blank", class: "btn btn-primary btn-lg" %> and start being awesome!
	</p>
</div>