<div class="container">
		<div class="jumbotron center">
	<h1>Our Mission</h1>
	<p>
	Our Mission is to leave the world a little bit better than found by striving and inspiring others to greatness.
	</p>

	<p>
	To learn more about our future endeavours, please <%= link_to "Click Here", "#", class: "btn btn-primary btn-lg" %> to sign up for our awesome newsletter!
	</p>
</div>